/* Floating button for deactivation */
#floatingButton {
    position: fixed;
    width: 300px;
    height: 100px;
    top: 5px;
    right: 15px;
    background-color: black;
    box-shadow: 0 0 20px cyan; /* Green glowing effect */
    border: 2px solid cyan;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    font-size: 26px;
    cursor: pointer;
    outline: none;
    z-index: 9999;
  }
  
  #floatingButton:hover {
    border-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.7);
    animation: glow 1s infinite alternate;
    color: cyan;
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.7);
    }
    100% {
      box-shadow: 0 0 20px 6px rgba(255, 255, 255, 0.7);
    }
  }

/* Text colors */
.cyan{
    color: #00FFFF;
}

.hidden {
    display: none;
}

.dark-blue{
    color: #00B2FF;
}

body{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.activateInstallationContainer {
    width: 220px;
    height: 50px;
    border: 10px solid #12DF89;
    border-radius: 20px;
    box-shadow: 0 0 20px #00ff00; /* Green glowing effect */
    background-color: rgba(0, 255, 0, 0.3); /* Transparent green background */

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text{
    font-family: 'Blinker', sans-serif;
    text-align: justify;
    font-size: 24px;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
}

.installation-activated {
    color: #12DF89;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 700;
}

/* Nav Bar*/
nav{
    display: flex;
    padding: 10px 25px;
    border-spacing: 50px;
    justify-content: center;
    align-items: center;
    gap: 85px;

    background-color: #336F82;
    border: 2px solid #FFF;
}

img{
    width: 60px; /* Change later */
    max-height: 70px;
}


table {
    border-collapse: collapse;
    border-spacing: 0; /* no border spacing between columns */
}


td {
    padding: 0px;
    border-spacing: 0;
    margin: 0;
}
      
a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #0FF;
    text-decoration: none;
}

button:hover {
    color: #0FF;
    text-decoration: none;
}


button{
    background-color: #336F82;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    
}


h2{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.return-landing{
    position: absolute;
    bottom: 10px;    
    padding: 0;
    margin: 0;
}

/* Circle with Number */
.circle-number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgba(146, 255, 235, 0.30);
    color: white;
    font-family: 'Blinker', sans-serif;
    font-size: 34px;
    font-weight: 700;
    border: 7px solid #12DF89;
    box-sizing: border-box;
    border-radius: 50%; /* Create a circle with 50% border-radius */

}

/* Activate Installation: Page 1 */
.activate-button{
    border-radius: 75px;
    border: 8px solid #0FF;
    fill: #336F82;
    font-size: 20px;
    width: 326px;
    height: 380px;
}

.buttons-section{
    display: inline-flex;
    align-items: flex-start;
    gap: 125px;
}

.buttons-div{
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.button-image{
    width: 225px;
    max-height: 422px;
    display: block;
}

/* Activate Installation: Sensor, Page 3 */
.blue-button {
    width: 325px;
    height: 120px;
    border-radius: 75px;
    border: 8px solid #0FF;
    background: #3D8CAE;

    color: #FFF;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

/* Activate Installation: Sensor, Page 2 */

/* Activate Installation: Sensor, Page 3 */
.green-circle {
    display: block;
    width: 88.832px;
    height: 88.832px;
    border-radius: 50%; /* To create a circle, set border-radius to 50% */
    background-color: #12DF89;
    border: 5px solid #00FF47;
    box-sizing: border-box; /* Include border in width and height calculations */
}

.red-circle {
    display: block;
    width: 88.832px;
    height: 88.832px;
    border-radius: 50%; /* To create a circle, set border-radius to 50% */
    background-color: red;
    border: 5px solid darkred;
    box-sizing: border-box; /* Include border in width and height calculations */
}

.container {
    position: relative;
    display: inline-block;
}

.background-image {
    display: block;
}

.overlay-image-checkmark {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1; /* Ensure the overlay is on top */
}

.overlay-image-arrow-ph {
    position: absolute;
    top: 100px; 
    left: 100px; /* Adjust based on reading */
    z-index: 1; /* Ensure the overlay is on top */
}

.overlay-image-circle {
    position: absolute;
    top: 42px; 
    left: 100px; /* Adjust based on reading */
    z-index: 1; /* Ensure the overlay is on top */
    
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    
    width: 75px;
    height: 65px;
    background-color: #12DF89;
    
    font-family: 'Blinker', sans-serif;
    color: #000;
    font-size: 32px;
    font-weight: 800;
    
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 50%; /* Create a circle with 50% border-radius */
}

.overlay-image-arrow-turbidity {
    position: absolute;
    top: 100px; 
    left: 100px; /* Adjust based on reading */
    z-index: 1; /* Ensure the overlay is on top */
}

/* .overlay-image-circle-turbidity {
    position: absolute;
    top: 42px; 
    left: 100px; /* Adjust based on reading */ /*
    z-index: 1; /* Ensure the overlay is on top */
/*
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #12DF89;

    font-family: 'Blinker', sans-serif;
    font-size: 22px;
    color: #000;
    font-family: Blinker;
    font-size: 30px;
    font-weight: 700;

    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 50%; /* Create a circle with 50% border-radius */ /*
} 
*/


.overlay-image-bar {
    position: absolute;
    top: 90px; 
    left: 0px;
    z-index: 1; /* Ensure the overlay is on top */
}

/* Activate Installation: Global */

/* Shapes */
.circle-statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 280px;

    background-color: rgba(146, 255, 235, 0.30);
    background-image: url('Graphics/global/stats-cleanwater.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    overflow: hidden;
    position: relative;
    color: white;
    text-shadow: 
    -3px -3px 1px #000,  
    3px -3px 1px #000,
    -3px 3px 1px #000,
    3px 3px 1px #000; /* Outline color */
    font-family: 'Blinker', sans-serif;
    font-size: 76px;
    font-weight: 700;
    border: 10px solid #12DF89;
    box-sizing: border-box;
    border-radius: 50%; /* Create a circle with 50% border-radius */
}

.small-circle-statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 210px;
    
    background-repeat: no-repeat;
    background-color: rgba(146, 255, 235, 0.30);
    background-image: url('Graphics/global/stats-cleanwater.png');
    background-size: cover;
    background-position: top;
    overflow: hidden;
    position: relative;

    color: white;
    text-shadow: 
    -3px -3px 1px #000,  
    3px -3px 1px #000,
    -3px 3px 1px #000,
    3px 3px 1px #000; /* Outline color */
    font-family: 'Blinker', sans-serif;
    font-size: 76px;
    font-weight: 700;
    border: 10px solid #12DF89;
    box-sizing: border-box;
    border-radius: 50%; /* Create a circle with 50% border-radius */
}


/* Position of each country */
.canada-container{
    position: absolute;
    top: 210px;
    left: 160px;
    transform: rotate(4.909deg);
    width: 300px;
    max-height: 1000px;
}

.mexico-container{
    position: absolute;
    top: 63%;
    left: 10%;
    transform: rotate(10deg);
    width: 165px;
    max-height: 1000px;
}

.us-container{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: rotate(2.817deg);
    width: 190px;
    max-height: 1000px;
}


.japan-container{
    position: absolute;
    top: 40%;
    left: 85%;
    transform: rotate(-6.435deg);
    width: 125px;
    max-height: 1000px;
}


.phillipines-container{
    position: absolute;
    top: 25%;
    left: 15%;
    transform: rotate(4.909deg);
    width: 300px;
    max-height: 1000px;
}

.tanzania-container{
    position: absolute;
    top: 60%;
    left: 60%;
    transform: rotate(4.909deg);
    width: 90px;
    max-height: 1000px;
}


.russia-container{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 550px;
    max-height: 1000px;
}

.france-container{
    position: absolute;
    top: 40%;
    left: 45%;
    width: 55px;
    max-height: 1000px;
}


.madagascar-container{
    position: absolute;
    top: 70%;
    left: 70%;
    transform: rotate(4.909deg);
    width: 55px;
    max-height: 1000px;
}

.phillipines-container{
    position: absolute;
    top: 70%;
    left: 50%;
    width: 70px;
    max-height: 1000px;
}

.indonesia-container{
    position: absolute;
    top: 60%;
    left: 70%;
    transform: rotate(31.941deg);
    width: 190px;
    max-height: 1000px;
}





/* Installation workings */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    max-width: 1350px;
    margin: 20px auto;
  }
  
  .grid-item {
    background-color: black;
    border: #12DF89 5px solid;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
    position: relative;
  }
  
  .grid-item:hover {
    transform: scale(1.05);
  }
  
  .grid-item .back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    display: none;
  }
  
  .grid-item.flipped .back-arrow {
    display: block;
  }
  
  .grid-item .back-arrow:before {
    content: "Click anywhere to flip back";
    font-size: 20px;
  }
  
  .grid-item .more-text {
    display: none;
    margin-top: 10px;
  }
  
  .grid-item.flipped .more-text {
    display: block;
  }